.group2 {
    background-image: url(https://c.animaapp.com/KJSSoIVG/img/group-6-2.svg);
    background-size: 100% 100%;
    height: 528px;
    position: relative;
    width: 1442px;
}

.group2 .text-wrapper2 {
    color: #ffffff;
    font-family: "UniwarsW00-Regular-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 135px;
    white-space: nowrap;
    width: 741px;
}

.group2 .div2 {
    color: #ffffff;
    font-family: "Rationale", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 37px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 240px;
    width: 704px;
}

.group2 .overlap2 {
    background-color: #ffffff;
    border-radius: 20px;
    height: 63px;
    left: 38px;
    position: absolute;
    top: 362px;
    width: 162px;
}

.group2 .text-wrapper-22 {
    color: #000000;
    font-family: "Rationale", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    width: 127px;
}

.group2 .overlap-group2 {
    height: 84px;
    left: 1040px;
    position: absolute;
    top: 78px;
    width: 401px;
}

.group2 .text-wrapper-32 {
    color: #ffffff;
    font-family: "Rationale", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 124px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
    width: 244px;
}

.group2 .icon-SIM-card2 {
    height: 36px;
    left: 58px;
    position: absolute;
    top: 28px;
    width: 25px;
}

.group2 .rectangle2 {
    background-color: #4ab6c54c;
    height: 84px;
    left: 0;
    position: absolute;
    top: 0;
    width: 401px;
}

.group2 .overlap-22 {
    height: 84px;
    left: 981px;
    position: absolute;
    top: 174px;
    width: 460px;
}

.group2 .text-wrapper-42 {
    color: #ffffff;
    font-family: "Rationale", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 130px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    width: 189px;
}

.group2 .icon-box-open2 {
    height: 32px;
    left: 55px;
    position: absolute;
    top: 26px;
    width: 43px;
}

.group2 .rectangle-22 {
    background-color: #4ab6c54c;
    height: 84px;
    left: 0;
    position: absolute;
    top: 0;
    width: 460px;
}

.group2 .overlap-32 {
    height: 84px;
    left: 927px;
    position: absolute;
    top: 272px;
    width: 514px;
}

.group2 .text-wrapper-52 {
    color: #ffffff;
    font-family: "Rationale", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 97px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 21px;
    width: 313px;
}

.group2 .icon-lightning-fill2 {
    height: 47px;
    left: 24px;
    position: absolute;
    top: 18px;
    width: 30px;
}

.group2 .rectangle-32 {
    background-color: #4ab6c54c;
    height: 84px;
    left: 0;
    position: absolute;
    top: 0;
    width: 514px;
}

.group2 .overlap-42 {
    height: 84px;
    left: 865px;
    position: absolute;
    top: 368px;
    width: 576px;
}

.group2 .text-wrapper-62 {
    color: #ffffff;
    font-family: "Rationale", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 97px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
    white-space: nowrap;
    width: 207px;
}

.group2 .vector2 {
    height: 25px;
    left: 24px;
    position: absolute;
    top: 31px;
    width: 32px;
}

.group2 .rectangle-42 {
    background-color: #4ab6c54c;
    border: 1px solid;
    border-color: #000000;
    height: 84px;
    left: 0;
    position: absolute;
    top: 0;
    width: 576px;
}
