.group {
    height: 709px;
    position: relative;
    width: 1350px;
  }
  
  .group .overlap {
    border-radius: 20px;
    height: 322px;
    left: 486px;
    position: absolute;
    top: 74px;
    width: 254px;
  }
  
  .group .text-wrapper {
    color: #05668d;
    font-family: "Rationale", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 262px;
    width: 214px;
  }
  
  .group .rectangle {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #05668d;
    border-radius: 20px;
    height: 322px;
    left: 0;
    position: absolute;
    top: 0;
    width: 254px;
  }
  
  .group .overlap-group {
    height: 332px;
    left: 818px;
    position: absolute;
    top: 92px;
    width: 533px;
  }
  
  .group .our-capabilities {
    color: #05668d;
    font-family: "UniwarsW00-Regular-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 0;
    width: 533px;
  }
  
  .group .div {
    background-color: #a5cdeb;
    border-radius: 20px;
    height: 83px;
    left: 127px;
    position: absolute;
    top: 249px;
    width: 406px;
  }
  
  .group .text-wrapper-2 {
    color: #05668d;
    font-family: "Rationale", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 149px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 273px;
    white-space: nowrap;
    width: 362px;
  }
  
  .group .p {
    color: #006785;
    font-family: "Rationale", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 822px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 440px;
    width: 521px;
  }
  
  .group .overlap-2 {
    border-radius: 20px;
    height: 306px;
    left: 8px;
    position: absolute;
    top: 74px;
    width: 443px;
  }
  
  .group .text-wrapper-3 {
    color: #05668d;
    font-family: "Rationale", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 94px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 231px;
    width: 246px;
  }
  
  .group .rectangle-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #05668d;
    border-radius: 20px;
    height: 306px;
    left: 0;
    position: absolute;
    top: 0;
    width: 443px;
  }
  
  .group .overlap-group-2 {
    border-radius: 20px;
    height: 267px;
    left: 464px;
    position: absolute;
    top: 442px;
    width: 268px;
  }
  
  .group .text-wrapper-4 {
    color: #05668d;
    font-family: "Rationale", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 219px;
    width: 246px;
  }
  
  .group .rectangle-3 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #05668d;
    border-radius: 20px;
    height: 267px;
    left: 0;
    position: absolute;
    top: 0;
    width: 268px;
  }
  
  .group .overlap-3 {
    border-radius: 20px;
    height: 299px;
    left: 8px;
    position: absolute;
    top: 410px;
    width: 426px;
  }
  
  .group .text-wrapper-5 {
    color: #05668d;
    font-family: "Rationale", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 130px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 239px;
    width: 163px;
  }
  
  .group .rectangle-4 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #05668d;
    border-radius: 20px;
    height: 299px;
    left: 0;
    position: absolute;
    top: 0;
    width: 426px;
  }
  