.component {
    height: 713px;
    width: 1362px;
  }
  
  .component .overlap-group {
    height: 713px;
    position: relative;
  }
  
  .component .browser {
    background-image: url(https://c.animaapp.com/Omw8ibXG/img/background-1.png);
    background-size: 100% 100%;
    height: 713px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1362px;
  }
  
  .component .button {
    border: 1px solid;
    border-color: #008eb8;
    border-radius: 12.2px/15.5px;
    height: 31px;
    left: 33px;
    position: absolute;
    top: 24px;
    width: 24px;
  }
  
  .component .div {
    border: 1px solid;
    border-color: #008eb8;
    border-radius: 12.2px/15.5px;
    height: 31px;
    left: 81px;
    position: absolute;
    top: 24px;
    width: 24px;
  }
  
  .component .button-2 {
    border: 1px solid;
    border-color: #008eb8;
    border-radius: 12.2px/15.5px;
    height: 31px;
    left: 130px;
    position: absolute;
    top: 24px;
    width: 24px;
  }
  
  .component .header {
    height: 483px;
    left: 31px;
    position: absolute;
    top: 129px;
    width: 748px;
  }
  
  .component .get-it-right-first {
    -webkit-text-stroke: 1px #a5cdeb;
    color: #05668d;
    font-family: "UniwarsW00-Regular-Regular", Helvetica;
    font-size: 75px;
    font-weight: 400;
    left: -1px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 744px;
  }
  
  .component .text-wrapper {
    color: #0e91c5;
    font-family: "Rationale", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 282px;
    width: 634px;
  }
  