.navigation-bar {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .navigation-bar .div-2 {
    height: 146px;
    position: relative;
    width: 1407px;
  }
  
  .navigation-bar .overlap {
    background-color: #05668d;
    border-radius: 20px;
    height: 35px;
    left: 710px;
    position: absolute;
    top: 56px;
    width: 154px;
  
  }
  
  .navigation-bar .text-wrapper-2 {
    color: #ffffff;
    font-family: "Rajdhani-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 5px;
  }
  
  .navigation-bar .group-3 {
    left: 37px !important;
    position: absolute !important;
    top: 196px !important;
  }
  
  .navigation-bar .group-instance {
    background-color: transparent !important;
  }
  
  .navigation-bar .text-wrapper-3 {
    color: #008eb8;
    font-family: "Rajdhani-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 1269px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 61px;
  }
  
  .navigation-bar .connectified-logo {
    height: 50px;
    left: 36px;
    object-fit: cover;
    position: absolute;
    top: 48px;
    width: 328px;
  }
  
  .navigation-bar .text-wrapper-4 {
    color: #008eb8;
    font-family: "Rajdhani-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 483px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 61px;
    white-space: nowrap;
    width: 116px;
  }
  
  .navigation-bar .text-wrapper-5 {
    color: #008eb8;
    font-family: "Rajdhani-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 1053px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 61px;
    width: 109px;
  }
  